burgerownia.dtd

<!ELEMENT burgerownia (burger*)>
<!ATTLIST burgerownia waluta CDATA "zł">
<!ELEMENT burger (nazwa, składnik*, alergen*)>
<!ELEMENT nazwa (#PCDATA)>
<!ELEMENT składniki (składnik+)
<!ELEMENT składnik (#PCDATA)>
<!ELEMENT alergeny (alergen*)
<!ELEMENT alergen (#PCDATA)>
<!ELEMENT cena (#PCDATA)>
<!ATTLIST burger mięsność (mięsny | wegetariański | wegański) mięsny>