burgerownia.dtd

<!ELEMENT burgerownia (burger*)>
<!ATTLIST burgerownia waluta CDATA "zł">
<!ELEMENT burger (nazwa, składniki, alergeny*, cena, kaloryczność)>
<!ATTLIST burger data_wprowadzenia CDATA #IMPLIED>
<!ELEMENT nazwa (#PCDATA)>
<!ELEMENT składniki (składnik+)>
<!ELEMENT składnik (#PCDATA)>
<!ELEMENT alergeny (alergen*)>
<!ELEMENT alergen (#PCDATA)>
<!ELEMENT cena (#PCDATA)>
<!ELEMENT kaloryczność (#PCDATA)>
<!ATTLIST burger mięsność (mięsny | wegetariański | wegański) "mięsny">
